@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fields {
  margin: 50px 0px;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}
.logo-img{
  float: left;
  margin: 0px 15px 15px 0px;
}

.group-list {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
}

.new-group-button {
  align-items: right;
  float: right;
}

.add-user-button {
  align-items: right;
  float: right;
}

 .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  
}

.add-user-button {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: right;
  float: right;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}
.events {
  text-align: center;
  align-items: center;
}